*{ 
    padding:0%;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* header */




header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(4, 38, 27);    
}

header nav ul{
    display: flex;
    justify-content:space-evenly;
    display:flex;
    align-items: center;
    
    
}

header{
background-color: rgb(255, 226, 231);


}



/* footer */




footer div p{
    color:rgb(255, 226, 231);
    font-weight:bold;
}


/* body */


body{
    background-color:rgb(118, 135, 118)
}

.linea{
    
 border-top: 1px solid rgb(255, 226, 231);
 height: 2px;
 max-width: 500px;
 padding: 0;
 margin: 20px auto 0 auto;
      
}


/* INDEX */

.index_h1{
    background-image: url('../img/istockphoto-1327760152-612x612.jpg');
background-repeat: no-repeat;
background-size: cover; height: 400px;
}

.index_titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


h1{
    color:rgb(171, 171, 171);
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}

.index_aboutus{
    color:rgb(171, 171, 171);
    display: flex;
    justify-content: center;
}


.index_main_textos p {
    background-color:rgb(255, 226, 231);
    margin:20px;
}



#aboutus span{
    color:rgb(255, 226, 231);
}




/* historia */

.contenedor_historia{
    background-color: rgb(132, 147, 132);
    width:80%;
    max-width:1000px;
    overflow: hidden;
    
    
}
.origencafe{
    width:70%;
    background-color: rgb(165, 157, 157);
    float:left;
    padding:20px;
    box-sizing:border-box
}



.cafeitalia{
    width:30%;
background-color:rgb(187, 180, 180);
float:left;
padding:20px;
box-sizing: border-box;
}

.cafeactualidad{
    width:70%;
    background-color: rgb(195, 187, 187);
    float:left;
    padding:20px;
    box-sizing:border-box
}

.cafeoceania{
    width:30%;
    background-color:rgb(233, 217, 217);
    float:left;
    padding:20px;
    box-sizing: border-box;
}


.contenedor_historia div img{
    width:100%;
    height:auto;
    max-width: 400px;
}

@media screen and (max-width:800px){
    .origencafe{width: 100%; }
    .cafeitalia{width: 100%; }
    .cafeactualidad{width: 100%; }
    .cafeoceania{width: 100%;}
    
}

@media screen and (max-width:500px){
    .contenedor_historia{
        width:100%
    }

}

.robustavsarabica{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robustavsarabica table{
    background-color: rgb(238, 222, 224);
}


/* tienda */

.productos_tienda{
    color:rgb(228, 150, 163);
}

.tienda_h1{
    background:rgb(255, 255, 255);
    text-align: center;
}

.productos_tienda {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width:600px){
    .productos_tienda{
    flex-direction: column;
    align-items: center;
}
}

/* preparaciones*/

.preparaciones_h1{
    background-image: url('../img/artelatte.jpg');
    background-repeat: no-repeat;
    background-size: cover; height: 500px;
}


.preparaciones{
    height: auto;
    display:flex;
   flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

/* mapa */

.mapacafes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

